body{
  background: #AA3A3B;
  display: flex;
  flex-direction: column;
  color: #f0f0f0;
}

.triangle{
  fill: transparent;
  stroke: white;
  stroke-width: 1;
  transition: all 0.8s ease-in-out;
}

circle {
  fill: #ffdc9a;
}

text {
  font-size: 6px;
  font-weight: 300;
}

.app {
  height: 100vh;
  display: flex;
}

#board {
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-self: center;
}

.unclickable {
  pointer-events: none;
}